.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.meme span {
  position: absolute;
  margin-top: 290px;
  font-size: 38px;
  color: white;
  width: 100%;
  left: 0px;
}
.meme span:nth-child(1) {
  margin-top: 60px;
}
.meme img {
  /* width: 100%; */
}
body,
.meme {
  background-color: #282c34;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.select-container {
  margin-top: 5rem;

  height: 39px;
  width: 140px;
  border-radius: 0.5rem;
}
.input {
  margin-top: 1rem;
  border: none;

  padding: 10px;
  width: 25rem;
  height: 2rem;
}
.button {
  margin-top: 1rem;
  background-color: #bb9bb0;
  color: white;
  padding: 1rem 3rem;
  margin-top: -1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 0.5rem;

  text-align: center;
  border: none;
  margin-top: 3rem;
}
